<div class="lm chat-card treasure-chat" data-actor-id="{{actor._id}}" data-item-id="{{actor._id}}"
    {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <header class="card-header flexrow">
        <img src="{{actor.img}}" title="{{actor.name}}" width="26" height="26" />
        <h3 class="item-name">{{ localize "LM.monster.treasureRoll"}}</h3>
    </header>

    <div class="card-content flexcol">
        <div>
            <strong>{{localize "LM.treasurePc"}}</strong><span>{{treasurePc}}</span>
        </div>
        <div>
            <strong>{{localize "LM.treasurePpt"}}</strong><span>{{treasurePpt}}</span>
        </div>
        <div>
            <strong>{{localize "LM.treasurePe"}}</strong><span>{{treasurePe}}</span>
        </div>
        <div>
            <strong>{{localize "LM.treasurePo"}}</strong><span>{{treasurePo}}</span>
        </div>
        <div>
            <strong>{{localize "LM.treasurePp"}}</strong><span>{{treasurePp}}</span>
        </div>
        <div>
            <strong>{{localize "LM.treasureGems"}}</strong><span>{{treasureGems}}</span>
        </div>
        <div>
            <strong>{{localize "LM.treasureJewels"}}</strong><span>{{treasureJewels}}</span>
        </div>
        <div>
            <strong>{{localize "LM.treasureMagic"}}</strong><span>{{treasureMagic}}</span>
        </div>
    </div>
</div>